---
import Layout from '../layouts/Layout.astro';
import { getPortfolioHighlights } from '../utils/portfolio';
import PortfolioDetail from '../components/PortfolioDetail.astro';
const portfolio = await getPortfolioHighlights();
---

<Layout portfolio={portfolio} slug={portfolio[0].slug}>
  {portfolio.map((item) => (
    <article id={item.slug}>
      <h1>{item.data.title}</h1>
      <PortfolioDetail item={item} />
    </article>
  ))}
</Layout>
<style>
  .Spacer {
    height: 80vh;
  }
  article {
    width: 40vw;
    max-width: 800px;
    margin: 20vh auto;
  }
  @media (max-width: 800px) {
    article {
      width: 100%;
      max-width: auto;
    }
  }
</style>
