---
import type { NavigationItem } from '../utils/navigation';

export interface Props {
  navItems: NavigationItem[];
}

const { navItems } = Astro.props as Props;
const selectedHref = navItems[0].href;
---
<div class="NavSelect">
  <select
    class="NavSelect_select"
    data-controller="nav-select"
    data-nav-select-value={selectedHref}
    data-nav-select-default-value={selectedHref}
    data-nav-select-hrefs={navItems.map(item => item.href).join(",")}
    data-action="
      change->nav-select#navigateToSelection
      pageshow@window->nav-select#setValue
      "
    aria-label="Navigation"
  >
    {navItems.map((item) => {
      const selected = item.href === selectedHref;
      return <option value={item.href} selected={selected}>{item.title}</option>
    })}
  </select>
</div>
<style>
  .NavSelect {
    position: relative;
    display: flex;
    flex: 1;
    user-select: none;
    font-size: 2rem;
    border-radius: 0.25rem;
    background-color: var(--medium-gray);

    &::after {
      content: "▼";
      top: 50%;
      transform: translateY(-50%);
      right: 1rem;
      position: absolute;
      pointer-events: none;
    }
  }

  .NavSelect_select {
    flex: 1;
    background: transparent;
    color: inherit;
    padding: 1rem;
    font-family: var(--font-peralta);

    appearance: none;
    border: none;

    text-overflow: ellipsis;
  }
</style>
