---
import type {CollectionEntry} from 'astro:content';
import image from '../content/portfolio/me-duck.webp';
import ImageLink from './ImageLink.astro';
// Sidebar.astro: Receives a `portfolio` prop (array of entries)
export interface Props {
  portfolio: Array<CollectionEntry<'portfolio'>>;
  selected: string;
}
const { portfolio } = Astro.props;
const width = "20vw";

---
<aside class="Sidebar" data-controller="nav-sidebar thumbnail" data-nav-sidebar-slugs={portfolio.map(item => item.slug).join(",")}>
  <div class="Sidebar_thumbnail-container">
    <ImageLink href="/" width="auto" height="100%" imageCssUrl={`url(${image.src})`} data-thumbnail-target="thumbnail"/>
  </div>
  <nav class="Sidebar_nav">
    <ul class="Sidebar_list">
      {portfolio.map(item => (
        <li class="Sidebar_item" data-nav-sidebar-target={item.slug}>
          <a
            href={"/#" + item.slug}
            class="h1 noTextWrap"
            data-action="
              mouseover->thumbnail#set
              mouseout->thumbnail#reset"
            data-thumbnail-src-param={item.data.image.src}
          >
            {item.data.title}
          </a>
        </li>
      ))}
      <li class="Sidebar_item">
        <a href="/blog" class="h1 noTextWrap">
          Blog
        </a>
      </li>
    </ul>
  </nav>
</aside>
<style define:vars={{width}}>
  .Sidebar {
    width: var(--width);
    box-sizing: border-box;
    height: 100%;
    text-align: center;
    background: var(--light-blue);
    overflow: hidden;

    display: flex;
    flex-direction: column;

    /* Ensure the main content is centered in the viewport */
    margin-right: calc(var(--width) * -1);
  }
  .Sidebar_thumbnail-container {
    background: linear-gradient(to bottom, #fff, var(--light-blue));
    padding: 2vh 2vw;

    flex-grow: 1;
    flex-shrink: 1;
  }
  .Sidebar_nav {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
  }
  .Sidebar_list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .Sidebar_item {
    a {
      padding: 1rem 0;
      text-decoration: none;
    }

    &:hover, &.Sidebar_item--selected {
      background: #fff;
    }
  }
</style>
