---
import type {CollectionEntry} from 'astro:content';
import Sidebar from '../components/Sidebar.astro';
import icon from "../content/portfolio/me-duck-square.png";
import '../normalize.css';
import '../global.css';

export interface Props {
  portfolio: Array<CollectionEntry<"portfolio">>;
  slug: string;
}
const { portfolio, slug } = Astro.props as Props;
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href={icon.src} />
    <meta name="generator" content={Astro.generator} />
    <title>Patrick Canfield - Portfolio</title>
  </head>
	<body>
    <div class="sidebar-responsive">
      <Sidebar portfolio={portfolio} selected={slug}/>
    </div>
    <main style="flex: 1; padding: 2rem;">
      <select
        class="select-responsive"
        data-controller="nav-select"
        data-nav-select-value={slug}
        data-nav-select-default-value={portfolio[0].slug}
        data-action="
          change->nav-select#navigateToSelection
          pageshow@window->nav-select#setValue
          "
        style="width: 100%; padding: 0.5rem; font-size: 1rem;"
      >
        {portfolio.map((item) => {
          const selected = item.slug === slug;
          return <option value={item.slug} selected={selected}>{item.data.title}</option>
        })}
      </select>
      <slot />
    </main>
  <script>
    import "/src/index.ts";
  </script>
  </body>
</html>

<style>
  .sidebar-responsive {
    display: block;
  }
  .select-responsive {
    display: none;
    width: 100%;
    background: #f6f6fa;
    padding: 1rem;
    border-bottom: 1px solid #eee;
  }
  @media (max-width: 800px) {
    .sidebar-responsive {
      display: none;
    }
    .select-responsive {
      display: block;
    }
    main {
      padding: 1rem !important;
    }
  }

</style>
