---
import type {CollectionEntry} from 'astro:content';
import Sidebar from '../components/Sidebar.astro';
import icon from "../content/portfolio/me-duck-square.png";
import '../normalize.css';
import '../global.css';
import NavSelect from '../components/NavSelect.astro';
import ImageLink from '../components/ImageLink.astro';

export interface Props {
  portfolio: Array<CollectionEntry<"portfolio">>;
  slug: string;
}
const { portfolio, slug } = Astro.props as Props;
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href={icon.src} />
    <meta name="generator" content={Astro.generator} />
    <title>Patrick Canfield - Portfolio</title>
    <link rel="preload" href="/fonts/Peralta-Regular.ttf" as="font" type="font/ttf" crossorigin>
    <link rel="preload" href="/fonts/Peralta-Regular.woff" as="font" type="font/woff" crossorigin>
    <link rel="preload" href="/fonts/Peralta-Regular.woff2" as="font" type="font/woff2" crossorigin>
  </head>
  <body data-controller="layout">
    <div class="sidebar-responsive">
      <Sidebar portfolio={portfolio} selected={slug}/>
    </div>
    <div class="select-responsive">
      <ImageLink href="/" imageCssUrl={`url(${portfolio[0].data.image.src})`} height="auto" width="height"/>
      <NavSelect portfolio={portfolio} slug={slug} />
    </div>
    <main>
      <slot />
    </main>
  <script>
    import "/src/index.ts";
  </script>
  </body>
</html>

<style>
  :root {
    --main-padding: 2rem;
    --sidebar-display: block;
    --select-display: none;
  }
  @media (max-width: 800px) {
    :root {
      --main-padding: 1rem;
      --sidebar-display: none;
      --select-display: flex;
    }
  }
  .is-mobile {
    --main-padding: 1rem;
    --sidebar-display: none;
    --select-display: flex;
  }

  main {
    flex: 1;
    padding: var(--main-padding);
  }
  .sidebar-responsive {
    display: var(--sidebar-display);
    position: fixed;
    /* Ensure it's always on top */
    z-index: 999;
    height: 100vh;
  }
  .select-responsive {
    display: var(--select-display);
    flex-direction: row;
    position: fixed;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.75);
  }

</style>
